/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #ffffff;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 5rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.header-nav a {
  text-decoration: none;
  color: #484951;
  font-size: 0.875rem;
  font-weight: 700;
}

.header-nav .active a {
  color: #0282f9;
  border-bottom: 0.375rem solid #0282f9;
  padding-bottom: 2.8125rem;
}

/* MAIN */
main {
  background-color: #1c1c1c;
  padding: 2.5rem;
  color: white;
  font-size: 1.25rem;
}

/* FOOTER */

/* footer-top */
.footer-top {
  background-color: #0282f9;
  padding: 2.5rem 0;
}

.footer-top ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.footer-top ul li {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.footer-top ul img {
  width: 2.8125rem;
}

.footer-top ul a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}

/* footer-center */
.footer-center {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  color: white;
}

.footer-center-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.footer-nav {
  display: flex;
  gap: 2.5rem;
  padding: 3.125rem 0;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav h4 {
  margin: 0.625rem 0;
}

.footer-nav ul a {
  text-decoration: none;
  color: grey;
  font-size: 0.8125rem;
}

.img-container {
  width: 31.25rem;
  height: 31.25rem;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: -3.125rem;
}

/* footer-bottom */
.footer-bottom {
  background-color: #303030;
  padding: 1.875rem 0;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-flex button {
  background-color: transparent;
  border: 0.125rem solid #0282f9;
  color: white;
  padding: 0.9375rem;
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  color: #0282f9;
}

.follow-us ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

.follow-us ul img {
  max-width: 1.875rem;
}
