/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  font-family: "Open Sans", serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #ffffff;
  padding: 1.5625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 6.25rem;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5625rem;
}

.header-nav a {
  text-decoration: none;
  color: #484951;
  font-size: 0.8125rem;
  font-weight: 700;
}

.header-nav .active a {
  color: #0282f9;
  border-bottom: 0.375rem solid #0282f9;
  padding-bottom: 3.75rem;
}

/* MAIN */
main {
  background-color: #1c1c1c;
  padding: 2.5rem;
  color: white;
  font-size: 1.25rem;
}

/* FOOTER */

/* footer-top */
.footer-top {
  background-color: #0282f9;
  padding: 2.1875rem 0;
}

.footer-top ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.footer-top ul li {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.footer-top ul img {
  width: 2.5rem;
}

.footer-top ul a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}
